.section {
    background-color: #fff;
    margin: 0 auto;
    padding-top: 40px;
    width: 400px;
    margin-top: 60px;
}

.title {
    color: #8e9295;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}